.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: row;
  position: relative;

  /* color: #111; */
}

@media screen and (max-width: 646px) {
  .app {
    height: 100%;
    flex-direction: column;
    padding: 1.6rem;
  }
}
